@model TravelCleanArch.Web.Areas.Admin.Models.TrekkingModuleFormViewModel
<h5>2) Overview</h5>
<div class="row g-2 mb-3">
    <div class="col-md-3"><input asp-for="Overview.Country" class="form-control" placeholder="Country" /></div>
    <div class="col-md-3"><input asp-for="Overview.PeakName" class="form-control" placeholder="Peak" /></div>
    <div class="col-md-3"><input asp-for="Overview.Route" class="form-control" placeholder="Route" /></div>
    <div class="col-md-3"><input asp-for="Overview.Coordinates" class="form-control" placeholder="Coordinates" /></div>
    <div class="col-md-12"><textarea asp-for="Overview.FullDescription" class="form-control" placeholder="Full description"></textarea></div>
</div>
